.input-wrapper {
    position: relative;
    width: 271px;
 }
 
 .input-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
 }

 .input {
     background-color: var(--blue); 
     opacity: 0.3;
 }
