@import url(../components/NavbarComponent/NavbarComponent.css);
@import url(../components/iconComponent/iconComponent.css);
@import url(../atoms/SearchAtom/SearchAtom.css);

:root{
    --yellow: #FCB900;
    --blue: #0693E3;
    --red: #CF2E2E;
}